<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Approval</servlet-name>
        <servlet-class>controller.leaveabsence.UpdateApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbsenceForm</servlet-name>
        <servlet-class>controller.leaveabsence.CreateLeaveAbsence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agenda</servlet-name>
        <jsp-file>/View/Agenda.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.dashboard.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeaveAbsence</servlet-name>
        <servlet-class>controller.leaveabsence.ViewLeaveAbsence</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLeaveRequest</servlet-name>
        <servlet-class>controller.leaveabsence.UpdateLeaveAbsence</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbsenceForm</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agenda</servlet-name>
        <url-pattern>/Agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approval</servlet-name>
        <url-pattern>/Approval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeaveAbsence</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLeaveRequest</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
</web-app>
